.TopSocials {
    display: flex;
    justify-content: center;
    transition: margin 200ms ease-in;
}

.TopSocials svg {
    margin: 10px;
    /* width: 100%; */
    transition: 0.1s ease-in;
}

.TopSocials .icons {
    display: flex;
}

.TopSocials svg:hover {
    filter: invert(0.3);
}

@media only screen and (max-width: 500px) {
    .TopSocials {
        justify-content: flex-end;
        margin-right: 20px;
        margin-top: 20px;
    }
}