/* 
  Lato font: 
  300: Regular
  400: SemiBold
  700: Bold
*/

.App {
  --main-dark: #3C394C;
  --light-green: #CFDDDA;
  --light-blue: #ECF2FC;
  --light-purple: #F3F1FE;
  margin: 0;
}

.overlay {
  background: #000;
  height: 100vh;
  position: fixed;
  z-index: 95;
  width: 100vw;
  opacity: 0;
  visibility: hidden;
  transition: all 0.1s ease-in;
}

.overlay.open {
  visibility: visible;
  opacity: 0.4;
}



/* .App.open .main {
  margin: 0 0 0 256px;
}

.App.open .TopSocials {
  margin-left: 256px;
} */

.App h1 {
  margin: 0;
}

.main {
  transition: 0.2s all ease-in;
  margin: 10vh 10vw;
  position: relative;
}

@media only screen and (max-width: 500px) {
  .main {
    margin: 10vh 5vw;
  }
}
